{
    "extends": [
        "react-app",
        "react-app/jest"
    ],
    "rules": {
        "react/jsx-filename-extension": [
            2,
            {
                "extensions": [
                    ".js",
                    ".jsx",
                    ".ts",
                    ".tsx"
                ]
            }
        ],
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "js": "never",
                "jsx": "never",
                "ts": "never",
                "tsx": "never"
            }
        ],
        "no-shadow": "off",
        "import/no-named-default": 0,
        "import/no-anonymous-default-export": "off",
        "react/jsx-props-no-spreading": "off"
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [
                    ".js",
                    ".jsx",
                    ".ts",
                    ".tsx",
                    ".d.ts",
                    ".d.tsx"
                ],
                "moduleDirectory": [
                    "node_modules",
                    "src/"
                ]
            }
        }
    }
}